@model List<FootballApp.Models.Match>
<head>
    <link rel="stylesheet" href="/css/favorites.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

@foreach (var group in Model.GroupBy(m => m.Competition.Name))
{
    <h2>Предстоящи мачове - @group.Key</h2>
    <table class="table table-hover table-bordered shadow-sm rounded">
        <thead class="thead-light">
            <tr>
                <th style="width: 10%">⭐</th>
                <th style="width:20%">Дата</th>
                <th style="width:35%">Домакин</th>
                <th style="width:35%">Гост</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var match in group)
            {
                <tr data-match-id="@match.Id">
                    <td class="text-center align-middle">
                        <button class="btn btn-sm btn-outline-warning favorite-btn">
                            <i class="fa-regular fa-star"></i>Любим
                        </button>
                    </td>
                    <td class="align-middle">@match.UtcDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                    <td class="align-middle font-weight-bold text-primary">@match.HomeTeam?.Name</td>
                    <td class="align-middle font-weight-bold text-danger">@match.AwayTeam?.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="/js/favorites.js"></script>